<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/home.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="/home.min.js" rel="script" type="text/javascript"></script>
    <title>Home</title>
</head>
<body>
    <%- include('partials/navbar'); -%>
    <main>
        <section class="hero">
            <div class="hero__body">
                <p>Innovating. Solving. <b><em>Doing</em></b>.</p>
                <button class="btn__join btn--big">Join Us!</button>
            </div>
        </section>
        <section class="tools">
            <h2>Professional Tooling</h2>
            <div class="toolGrid">
                <div class="tile">
                    <div class="card card--tool">
                        <div class="card__icon fa fa-file-word-o text-blue">

                        </div>
                        <p class="card__description">
                            Triple Investors&trade; has a world class team of expert financial analysts,
                            bankers, accountants, and investors dilligently recording crucial and time sensitive information in
                            <a href="https://products.office.com/en-us/word">Microsoft Word</a>! Because a master deserves
                            only the finest tools <i class="fa fa-heart text-red" aria-hidden="true"></i>.
                        </p>
                    </div>
                </div>
                <div class="tile">
                    <div class="card card--tool">
                        <div class="card__icon fa fa-file-excel-o text-green">

                        </div>
                        <p class="card__description">
                            To guarantee only the greatest level of quality the consumer market has ever seen,
                            only the most up to date version of <a href="https://products.office.com/en-us/excel">Microsoft Excel</a>
                            is used. We rely on the blazing fast CSV utilities for analyzing our data with such high tech methods like:
                            <ul class="grid-table">
                                <li><span>Pivot Tables</span><i class="fa fa-table" aria-hidden="true"></i></li>
                                <li><span>Pie Charts</span><i class="fa fa-pie-chart" aria-hidden="true"></i></li>
                                <li><span>Queries</span><i class="fa fa-question" aria-hidden="true"></i></li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="tile">
                    <div class="card card--tool">
                        <div class="card__icon fa fa-file-powerpoint-o text-orange">

                        </div>
                        <p class="card__description">
                            Technology is vital to our workflow, which is why we think it's even more
                            important to prioritize soft skills, like communication! Our financial officers
                            are eagerly awaiting our busy junior developer's presentation in the industry certified
                            presentation software, <a href="https://products.office.com/en-us/powerpoint">Microsoft Powerpoint!</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("partials/footer"); -%>
</body>
</html>