<footer>
    <div class="footer__company-info">
        <h2>
            Company Info
        </h2>
        <a href="#">
            Our site
        </a>
        <a href="#">
            Benefits
        </a>
        <a href="#">
            Our founder, Mr. Money
        </a>
    </div>
    <div class="footer__company-culture">
        <h2>
            Company Culture
        </h2>
        <a href="#">
            How we treat each other
        </a>
        <a href="#">
            Equal Treatment
        </a>
        <a href="#">
            Expectations
        </a>
    </div>
    <div class="footer__company-help">
        <h2>
            Help
        </h2>
        <a href="#">
            FAQ
        </a>
        <a href="#">
            Privacy
        </a>
    </div>
    <!-- ROW 5, social media plugs, copyright -->
    <div class="footer__bottom">
        <p class="copyright">
            <i class="fa fa-copyright" aria-hidden="true"></i> &nbsp; 2020 Triple Investors
        </p>
        <div class="plugs">
            <a href="https://twitter.com/TripleInvestors?ref_src=twsrc%5Etfw" class="icon icon--twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://facebook.com" class="icon icon--facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://instagram.com" class="icon icon--instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://pinterest.com" class="icon icon--pinterest">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
            <a href="https://blogger.com" class="icon icon--rss">
                <i class="fa fa-rss" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>