<header>
    <nav class="navbar navbar--animate">
        <div class="navbar__logo">
            <a href="/"><i class="fa fa-anchor" aria-hidden="true"></i> Triple Investors</a>
        </div>
        <ul class="navbar__items">
            <li>
                <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> Opportunities</a>
            </li>
            <li>
                <a href="login" class="loginLink"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
            </li>
        </ul>
    </nav>
</header>